<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        h1{
            text-align: center;
            background-color: aquamarine;
            color: black;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Sobre nós:</h1>
    <p>Somos um site para os pilotos verificarem os aviões livres e os tripulantes verem os voos deles</p>
    
</body>
</html>