<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .botao-estilo {
           
        display: inline-block; 
         background-color: #4ca0af; 
          color: white; 
         padding: 10px 20px; 
          text-align: center; 
         text-decoration: none; 
         border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        }
        h1{
            text-align: center;

        }
        .buttons{
            text-align: center;
        }
    </style>
    <title>Logar avião</title>
</head>
<body>
    <h1>Selecione como logar:</h1>
    <div class="buttons">
        <a href="/pi" class="botao-estilo">
            Piloto
        </a>
        <a href="/tri" class="botao-estilo">
            Tripulante
        </a>
    </div>
    <footer>
        <nav>
          <a href="/about">Sobre nos</a>
        </nav>
      </footer>
    



</body>
</html>